@import url('https://fonts.googleapis.com/css?family=Acme|Grenze|PT+Sans+Narrow&display=swap');

:root {
  --primary1: #000000;
  --primary2: #751aff;
  --secondary11: #ffffff;
  --secondary21: #800000;
  --textLight: white;
  --textDark: black;
  --paragraphtext: 'PT Sans Narrow', Sans-Serif;
  --headingtext: Grenze ,Sans-Serif;
  --navigationtext: Acme , Sans-Serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  max-width: 80%;
}

body {
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 60px 1fr 60px;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-gap: 20px;
}

body * {
  font-family: var(--paragraphtext);
color: white;
}

body {
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingtext);
  color: #FFFFFF;
text-shadow: 2px 2px 0 #751aff, 2px -2px 0 #751aff, -2px 2px 0 #751aff, -2px -2px 0 #751aff, 2px 0px 0 #751aff, 0px 2px 0 #751aff, -2px 0px 0 #751aff, 0px -2px 0 #751aff;
}


.sr-only {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header {
  grid-area: header;


}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;

}

 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: purple;
}

.active {
  background-color: purple;
}
