@import url('https://fonts.googleapis.com/css?family=Acme|Grenze|PT+Sans+Narrow&display=swap');

:root {
  --primary1: #000000;
  --primary2: #400080;
  --secondary11: #FFFFFF;
  --textLight: white;
  --textDark: black;
  --paragraphtext: 'PT Sans Narrow', Sans-Serif;
  --headingtext: Grenze ,Sans-Serif;
  --navigationtext: Acme , Sans-Serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


/* Start of body */
body {

}

body * {
  font-family: var(--paragraphtext);
color: var(--secondary11);
}

body {
  background-color: var(--primary1);
}
/* end of body */



/* start of heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--headingtext);
  color: var(secondary11);
  text-shadow: 4px 3px 0 var(--primary2);
}

h1 {
  font-size: 100px;
  text-align: center;
}


h2{
  font-size: 40px;
}
/* end of heading tags */

/* start of paragraph tags */
p {
  font-size: 20px;
}
/* end of paragraph tags */



.sr-only {
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

header {
  grid-area: header;


}

main {
  display: grid;
}



footer {
  grid-area: footer;
}

/* Navigation Start*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(primary2);
}

li {
  float: left;

}

 li a {
  display: flex;
  color: var(--secondary11);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

li a:hover {
  background-color: var(--primary2);
}
/* Navigation end */







/* Sections start */
section {
  display: grid;
}

.section2 {
  grid-area: main;

}
